# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
megaphone
phonebook
account
claptrap
scavtrap
diamondtrap
zombie
horde
brain
violence
sednew
harl
harlFilter
fixed
fixed2
fixed3
bsp
animals
brain
abstract
amateria
btc
RPN
PmergeMe


.idea

.DS_Store
